@import '../../common/variables.scss';

.news {
    padding: 20px 30px;

    border-top: 2px solid $gray;
}

.news__list {
    padding: 0;

    list-style: none;
}

.news__item {
    margin-bottom: 20px;
    padding-bottom: $s-field;

    border-bottom: 2px solid $l-gray;
}
